
/* Account.css */

.text-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
}
@media (width <= 48em) {
  .pass-text {
    display: none;
  }
  .text-column {
    width: 100%;
  }
}