
@media (width <= 48em) {
  .button-row {
    padding-top: 10px;
    margin-top: 0px !important;
  }
}
.button-row {
  display: flex;
  flex-direction: row;
  right: 10px;
  left: 30%;
  position: relative;
}

.button-column {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.btn-icon-only {
  border-color: #0B3665;
  border: 1px solid #0B3665;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-top-color: initial;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-right-color: initial;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-bottom-color: initial;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-left-color: initial;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  outline: solid;
  color: #0B3665 !important;
}

.btn-icon-only:hover {
  background-color: #0B3665 !important;
  color: #adb5bd !important;
  transform: scale(1.25);
}

.btn-icon-only-dark {
  border-color: #adb5bd;
  border: 1px solid #adb5bd;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-top-color: initial;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-right-color: initial;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-bottom-color: initial;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-left-color: initial;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  outline: solid;
  color: #adb5bd !important;
}

.btn-icon-only-dark:hover {
  background-color: #adb5bd !important;
  color: black !important;
  border-color: black !important;
  transform: scale(1.25);
  transition: width 0.3s ease-in-out;
}

.config-btn-icon-only-dark {
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-top-color: initial;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-right-color: initial;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-bottom-color: initial;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-left-color: initial;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  outline: solid;
  color: #adb5bd;
}
